/* CSS RESET */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #fff;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*  */

/* CUSTOM FONTS */

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.otf')
}

@font-face {
    font-family: 'Spin Cycle';
    src: url('./fonts/spincycle_ot.otf');
}

/* VARIABLES */

:root {
    --link-hover-color: #FF6565;
    --button-hover-opacity: 0.9;
    --max-content-width: 1000px;

    --color-primary: #FFF;
    --color-secondary: #FF6565;

    --font-primary: 'Source Sans Pro';
    --font-logo: 'Spin Cycle';

    --font-size-menu: 14px;
    --font-size-primary: 16px;
    --font-size-head-one: 36px;
    --font-size-head-two: 18px;

    --font-weight-menu: 500;

    --button-padding: 1rem 2rem;
}

/* GENERAL STYLING */

a:hover, a:active {
    color: var(--link-hover-color);
}

button:hover, button:active {
    opacity: var(--button-hover-opacity);
}

body {
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.content {
    max-width: var(--max-content-width);
    margin: auto;
}

.logo-text {
    font-family: var(--font-logo);
}

h1 {
    font-size: var(--font-size-head-one);
    margin: .5rem 0;
}

h2 {
    font-size: var(--font-size-head-two);
    font-weight: 400;
    margin: .5rem 0;
}

/* HEADER SECTION */

.header {
    background-image: url("./images/headphones_hero_1.jpg");
    background-size: cover;
    min-height: 1000px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.heading-menu-icon {
    display: none;
}

.heading-logo p {
    display: inline;
    position: relative;
    bottom: 12px;
    margin-left: .6rem;
}

.heading-menu {
    list-style: none;
    margin-top: 1rem;
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
}

.heading-menu li {
    display: inline;
    margin-right: 4rem;
}

.heading-menu li:last-child {
    margin-right: 0;
}

/* HEADER MAIN SECTION */

.heading-main {
    text-align: center;
    margin-top: 450px;
}

.heading-main button {
    color: var(--color-primary);
    font-size: var(--font-size-menu);
    padding: var(--button-padding);
    background-color: var(--color-secondary);
    font-family: var(--font-primary);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
}

.heading-main button:hover {
    cursor: pointer;
}

.heading-main p {
    font-family: var(--font-primary);
    line-height: 30px;
    font-weight: 100;
    width: 65%;
    margin: auto;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 480px) {
    .header {
        background-position: top;
    }

    .heading {
        display: block;
        text-align: center;
    }


    .heading-menu-icon {
        display: block;
        float: left;
        margin-left: 20px;
    }

    .heading-menu-icon div {
        width: 25px;
        height: 3px;
        background-color: var(--color-primary);
        margin: 6px 0;
        transition: .5s;
    }

    .heading-menu-icon:hover > div:nth-child(2) {
        opacity: 0;
    }

    .heading-menu-icon:hover > div:last-child {
        transform: rotate(45deg);
        position: relative;
        bottom: 9px;
    }

    .heading-menu-icon:hover > div:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 9px;
    }

    .heading-menu-icon:hover ~ .heading-menu {
        display: block;
    }

    .heading-menu {
        display: none;
    }
    
    .heading-menu li {
        display: block;
        margin-right: 0;
        margin-top: 10px;
    }

    .heading-main {
        margin-top: 5rem;
    }
}
