/* CSS RESET */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #fff;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*  */

/* CUSTOM FONTS */

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.otf')
}

@font-face {
    font-family: 'Spin Cycle';
    src: url('./fonts/spincycle_ot.otf');
}

@font-face {
    font-family: 'holberton_school-icon';
    src: url('./fonts/holberton_school-icon.ttf');
}

/* VARIABLES */

:root {
    --link-hover-color: #FF6565;
    --button-hover-opacity: 0.9;
    --max-content-width: 1000px;

    --color-primary: #FFF;
    --color-secondary: #FF6565;
    --color-inverted: #071629;

    --font-primary: 'Source Sans Pro';
    --font-logo: 'Spin Cycle';

    --font-size-menu: 14px;
    --font-size-primary: 16px;
    --font-size-head-one: 36px;
    --font-size-head-two: 18px;

    --font-weight-menu: 500;

    --button-padding: 1rem 2rem;
}

/* GENERAL STYLING */

a:hover, a:active {
    color: var(--link-hover-color);
}

button {
    color: var(--color-primary);
    font-size: var(--font-size-menu);
    padding: var(--button-padding);
    background-color: var(--color-secondary);
    font-family: var(--font-primary);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
}

button:hover, button:active {
    opacity: var(--button-hover-opacity);
}

button:hover {
    cursor: pointer;
}

body {
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.content {
    max-width: var(--max-content-width);
    margin: auto;
}

.logo-text {
    font-family: var(--font-logo);
}

h1 {
    font-size: var(--font-size-head-one);
    margin: .5rem 0;
}

h2 {
    font-size: var(--font-size-head-two);
    font-weight: 400;
    margin: .5rem 0;
}

p {
    width: 65%;
    margin: auto;
    font-weight: 100;
    line-height: 30px;
}

/* HEADER SECTION */

.header {
    background-image: url("./images/headphones_hero_1.jpg");
    background-size: cover;
    padding: 0 0 6rem 0;
}

.heading {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.heading-menu-icon {
    display: none;
}

.heading-logo p {
    display: inline;
    position: relative;
    bottom: 12px;
    margin-left: .6rem;
}

.heading-menu {
    list-style: none;
    margin-top: 1rem;
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
}

.heading-menu li {
    display: inline;
    margin-right: 4rem;
}

.heading-menu li:last-child {
    margin-right: 0;
}

/* HEADER MAIN SECTION */

.heading-main {
    text-align: center;
    margin-top: 450px;
}

/* What we do */

.what {
    text-align: center;
    color: var(--color-inverted);
    padding: 8rem 0 6rem 0;
}

.what h1 {
    margin-bottom: 65px;
}

.cards {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards div span {
    font-family: 'holberton_school-icon';
    font-size: 150px;
    color: var(--color-secondary);
}

.cards div h2 {
    font-weight: 800;
}

.cards div p {
    margin-top: .5rem;
    width: 100%;
}

/* RESULT SECTION */

.result {
    text-align: center;
    color: var(--color-primary);
    padding: 8rem 0 6rem 0;
    background-image: url("images/headphones_hero_2.jpg");
    background-size: cover;
}

.result-title {
    margin-bottom: 4rem;
}

.result-cards {
    margin-top: 70px;
}

.pentagon {
    position: relative;
    width: 140px;
    box-sizing: content-box;
    border-width: 140px 40px 0;
    border-style: solid;
    border-color: var(--color-secondary) transparent;
}
.pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -220px;
    left: -40px;
    border-width: 0 110px 80px;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary);
}

.pentagon-content {
    position: relative;
    bottom: 150px;
}


/* Contact us */

.contact {
    color: var(--color-inverted);
    text-align: center;
    padding: 8rem 0 6rem 0;
}

.contact input {
    width: 380px;
    margin-top: 5rem;
    border: none;
    border-bottom: 1px solid rgba(7, 22, 41, .17);
    padding-bottom: .7rem;
}

.contact input:hover, .contact input:focus {
    border: none;
    border-bottom: 1px solid rgba(7, 22, 41, 1);
    outline: none;
    transition: .5s;
}

.contact input::placeholder {
    color: var(--color-inverted);
    font-weight: 600;
}

.contact button {
    margin-top: 3rem;
    box-shadow: none;
}

/* FOOTER */

.footer {
    background-color: var(--color-inverted);
    min-height: 300px;
}

.footer-content {
    padding-top: 80px;
}

.footer-links {
    font-family: 'holberton_school-icon';
    font-size: 2.2rem;
    margin-top: 0;
}

.footer-links li {
    margin-right: .4rem;
}

.footer-links li:last-child {
    margin-right: 0;
}

.copyright {
    text-align: center;
    opacity: 0.35;
    font-size: var(--font-size-menu);
    margin-top: 100px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 480px) {

    p {
        width: 100%;
    }

    .header {
        background-position: top;
    }

    .heading {
        display: block;
        text-align: center;
    }


    .heading-menu-icon {
        display: block;
        float: left;
        margin-left: 4rem;
    }

    .heading-menu-icon div {
        width: 25px;
        height: 3px;
        background-color: var(--color-primary);
        margin: 6px 0;
        transition: .5s;
    }

    .heading-menu-icon:hover > div:nth-child(2) {
        opacity: 0;
    }

    .heading-menu-icon:hover > div:last-child {
        transform: rotate(45deg);
        position: relative;
        bottom: 9px;
    }

    .heading-menu-icon:hover > div:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 9px;
    }

    .heading-menu-icon:hover ~ .heading-menu {
        display: block;
    }

    .heading-menu {
        display: none;
    }
    
    .heading-menu li {
        display: block;
        margin-right: 0;
        margin-top: 10px;
    }

    .heading-main {
        margin-top: 5rem;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .result-cards {
        margin-top: 40px;
    }

    .footer-mobile {
        flex-direction: column;
    }

    .footer-links {
        display: block;
    }

    .footer-links ul li {
        display: inline;
    }

    .copyright {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-wrap: wrap;
    }

    .cards div p {
        width: 60%;
    }

    .result-cards {
        width: 250px;
        height: 240px;
        background-size: 250px 240px;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 4rem;
    }

    .result-cards h1 {
        margin-top: 5rem;
    }
}
